<% include ./partials/header %>

<div id="resume" class="mb-5">
    <h1>Isaac Smith</h1>
    <div id="resumeContact">
        <p><a href="https://www.linkedin.com/in/isaac13smith/">LinkedIn</a></p>
        <p><a href="https://www.bitbucket.org/isaac13smith/">Bitbucket</a></p>
        <p><a href="tel:+1-937-209-0749">(937) 209-0749</a></p>
        <p><a href="mailto:Isaac13Smith@gmail.com" target="_top">Isaac13Smith@gmail.com</a></p>
        <p>Columbus, Ohio</p>
    </div>
    <hr>
    <div class="text-left">
        <h3>Career Objective</h3>
        <p id="objective">To obtain a challenging and rewarding role as a software engineer where I can utilize my
            problem solving
            skills; HTML, CSS, Javascript, and Python understanding; as well as clear communication skills to
            benefit my team, grow as a developer, and learn more every day.</p>
        <h3>Education</h3>
        <p class="mb-0"><strong>Tech Elevator</strong></p>
        <p class="mb-1"><strong>Columbus, OH</strong></p>
        <p><em>Java and Full-Stack Web Development Bootcamp Software Engineering Candidate (Expected graduation Aug
                2019)</em></p>
        <p><strong>Extracurricular Activity:</strong> Volunteer at United Way and Milcrest Nursing center 2008-2014</p>
        <h3>Skills</h3>
        <ul>
            <li>Full-Stack Web Development</li>
            <li>HTML, CSS, and JavaScript</li>
            <li>Python</li>
            <li>Mongoose, Express, Node.js (M.E.N.) Stack</li>
            <li>Creative Problem Solving</li>
            <li>Clear Communication</li>
            <li>Leadership - Four Years of Management Experience</li>
            <li>Determination</li>
            <li>Adaptability</li>
        </ul>
        <h3>Credentials and Licenses</h3>
        <ul>
            <li>CS50x Certification from Harvardx</li>
            <li>Web Developer Bootcamp Certificate</li>
        </ul>
        <h3>Work Experience</h3>
        <h5 class="mb-0">Walmart</h5>
        <p class="mb-0"><em>Assistant Manager, Jun 2017 – Apr 2019</em></p>
        <ul>
            <li>Found creative solutions to unique opportunities as the manager on duty nightly.</li>
            <li>Supervised a direct team of 30+ people, and responsible for the total store of 200+ employees.</li>
            <li>Trained all new (and old) employees on proper procedure</li>
            <li>Had daily meetings for employee motivation, sales updates, and upcoming event preparation</li>
            <li>Manager on duty every night of a 60+ million dollar/year business.</li>
            <li>Launched a Walmart academy with very rigorous expectations.</li>
            <li>Managed the scheduling, hiring, career growth, and termination of 30+ employees directly.</li>
            <li>Promoted four times within three years of employment.</li>
            <li>Worked with and managed all third party maintenance and construction crews.</li>
        </ul>
        <p><em>Various Supervisory Roles, Nov 2015 – Jun 2017</em></p>
        <p><em>Electronics Sales Associate, Aug 2014 – Nov 2015</em></p>
        <p><em>Amazon Business Owner, May 2010 – Aug 2014</em></p>
    </div>
</div>
<a class="p-5" href="../documents/IsaacSmith-Resume.pdf" download>Download Résumé</a>
<% include ./partials/footer %>